.homePage {
  padding: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.importButton {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

.textList {
  list-style: none;
  padding: 0;
}

.textItem {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  padding: 0.5rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  transition: background-color 0.2s ease-in-out;
}

.textItem:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

@media (min-width: 768px) {
  .textItem {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.textInfo {
  flex-grow: 1;
  cursor: pointer;
}

.textTitle {
  font-weight: 600;
}

.textPreview {
  color: #555;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deleteButton {
  margin-left: 1rem; /* Only applies on larger screens due to flex-direction change */
  margin-top: 0.5rem; /* Only applies on smaller screens */
  padding: 0.25rem 0.5rem;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .deleteButton {
    margin-top: 0;
  }
}

.floatingButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it's above other content */
}

.floatingButton:hover {
  background-color: #0056b3;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001; /* Ensure modal is above overlay */
}

.modalContent {
  background-color: rgb(98, 98, 98);
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative; /* Needed for positioning close button if added */
}

.modalContent p {
  margin-bottom: 15px;
  font-size: 1.1em;
}

.copyButton, .closeButton {
  padding: 8px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
}

.copyButton {
  background-color: #28a745; /* Green */
  color: white;
}

.copyButton:hover {
  background-color: #218838;
}

.closeButton {
  background-color: #dc3545; /* Red */
  color: white;
}

.closeButton:hover {
  background-color: #c82333;
}
