.settingItem {
  margin-bottom: 1.5rem; /* Increase spacing */
  padding: 1rem;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.03);
  justify-content: center;
  align-items: center;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

/* Style for the font size control group */
.fontSizeControl {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.fontSizeValue {
  min-width: 40px; /* Ensure space for text */
  text-align: right;
}
